#privacyPolicy {
    margin: 0 auto;
    max-width: 900px;
    padding: 2rem;
    color: var(--white);
}

#privacyPolicy .title,
#privacyPolicy .updateTime {
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
}

#privacyPolicy h1 {
    font-size: 2.5rem;
    margin: 2rem 0;
}

#privacyPolicy h2 {
    font-size: 2rem;
    margin-top: 2.5rem;
}

#privacyPolicy h3 {
    font-size: 1.5rem;
}

#privacyPolicy h4 {
    font-size: 1.3rem;
}

#privacyPolicy p {
    font-size: 1.2rem;
}

#privacyPolicy h2,
#privacyPolicy h3,
#privacyPolicy h4,
#privacyPolicy p {
    margin-bottom: 1rem;
}

#privacyPolicy a {
    color: var(--primary);
}

#privacyPolicy strong {
    text-decoration: underline;
}

#privacyPolicy ul {
    list-style-type: disc;
    margin-left: 2rem;
}

@media (hover: hover) and (pointer: fine) {
    #privacyPolicy a:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 768px) {
    #privacyPolicy .title {
        font-size: 2rem;
    }

    #privacyPolicy h1 {
        font-size: 2rem;
    }

    #privacyPolicy h2 {
        font-size: 1.8rem;
    }

    #privacyPolicy h3 {
        font-size: 1.5rem;
    }

    #privacyPolicy h4 {
        font-size: 1.3rem;
    }

    #privacyPolicy p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 480px) {
    #privacyPolicy h1 {
        font-size: 1.8rem;
    }

    #privacyPolicy h2 {
        font-size: 1.5rem;
    }

    #privacyPolicy h3 {
        font-size: 1.3rem;
    }

    #privacyPolicy h4 {
        font-size: 1.1rem;
    }

    #privacyPolicy p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 340px) {
    #privacyPolicy .title {
        font-size: 1.7rem;
    }

    #privacyPolicy h1 {
        font-size: 1.5rem;
    }

    #privacyPolicy h2 {
        font-size: 1.3rem;
    }

    #privacyPolicy h3 {
        font-size: 1.1rem;
    }

    #privacyPolicy h4 {
        font-size: 1rem;
    }

    #privacyPolicy p {
        font-size: 0.9rem;
    }
}
