#home .container.noauth {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 85vh;
}

#home .noauth .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.gif {
    padding-bottom: 2rem;
}

#home h2 {
    font-size: 2rem;
    font-weight: var(--w-sb);
    color: var(--white);
    padding-bottom: 2rem;
    text-align: center;
}

#home .no-exam {
    font-size: 1.5rem;
    font-weight: var(--w-sb);
    color: var(--error);
    text-align: center;
    width: 60%;
}

#home .no-exam a {
    color: var(--primary);
}

#home p {
    font-size: 1.2rem;
    font-weight: var(--w-m);
    color: var(--white);
    opacity: 0.7;
}

@media (hover: hover) and (pointer: fine) {
    #home .no-exam a:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 768px) {
    #home .container.noauth {
        max-height: 90vh;
    }

    #home h2 {
        font-size: 1.8rem;
    }

    #home .no-exam {
        font-size: 1.3rem;
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    #home h2 {
        font-size: 1.5rem;
    }

    #home .no-exam {
        font-size: 1.1rem;
        width: 100%;
    }

    #home p {
        font-size: 0.9rem;
    }

    #home .gif {
        transform: scale(0.8);
    }
}
