main .container.noauth {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 85vh;
}

main .noauth .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

.gif {
    padding-bottom: 2rem;
}

main h2 {
    font-size: 2rem;
    font-weight: var(--w-sb);
    color: var(--white);
    padding-bottom: 2rem;
    text-align: center;
}

main .no-exam {
    font-size: 1.5rem;
    font-weight: var(--w-sb);
    color: var(--error);
    text-align: center;
}

main p {
    font-size: 1.2rem;
    font-weight: var(--w-m);
    color: var(--white);
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    main .container.noauth {
        max-height: 90vh;
    }

    main h2 {
        font-size: 1.8rem;
    }

    main .no-exam {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 480px) {
    main h2 {
        font-size: 1.5rem;
    }

    main .no-exam {
        font-size: 1.1rem;
    }

    main p {
        font-size: 0.9rem;
    }

    main .gif {
        transform: scale(0.8);
    }
}
