.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.notfound .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2rem;
}

.notfound h1 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary);
}

.notfound p {
    text-align: center;
    color: var(--white);
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: var(--w-sb);
    opacity: 0.7;
}

.notfound a {
    color: var(--primary);
    text-align: center;
    font-size: 1.2rem;
    font-weight: var(--w-sb);
    margin: 1rem;
}

.banner {
    position: fixed;
    bottom: 2rem;
    right: -30rem;
    margin-left: 2rem;
}

.banner.visible {
    animation: fadeInLeft 0.5s forwards;
}

@media (hover: hover) and (pointer: fine) {
    .notfound a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        bottom: -12rem;
        right: 1rem;
        margin-left: 1rem;
    }

    .banner.visible {
        animation: fadeInUp 0.5s forwards;
    }
}
