nav {
    height: 15vh;
}

.nav-heading h3 {
    font-size: 1.5rem;
    font-weight: var(--w-sb);
    color: var(--white);
    margin: 0;
    padding: 0;
}

.nav-end {
    display: flex;
    gap: 1rem;
}

.nav-end .buttons {
    display: flex;
    gap: 0.5rem;
}

@media screen and (max-width: 768px) {
    .nav-heading h3 {
        font-size: 1.3rem;
    }

    .nav-end .buttons .btn {
        padding: 0.8rem 1.2rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .nav-heading h3 {
        font-size: 0.9rem;
    }

    .nav-end .buttons .btn {
        padding: 0.5rem 0.7rem;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 340px) {
    .nav-end .buttons .profile-btn {
        display: none;
    }
}
