footer {
    background: var(--black);
    height: 100%;
}

footer .container {
    flex-direction: column;
    gap: 3rem;
}

footer .copyright {
    margin: auto;
    padding: 1rem;
}

footer .copyright p {
    color: var(--white);
    font-size: 1rem;
    font-weight: var(--w-sb);
    text-align: center;
}

footer .copyright .author {
    color: var(--primary);
}

footer .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer .main .information {
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 1rem;
}

footer .main .information h3 {
    color: var(--primary);
    font-size: 1.5rem;
}

footer .main .information p {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: var(--w-m);
    opacity: 0.8;
}

footer .main .links {
    display: flex;
    gap: 10rem;
}

footer .main .links .primary,
footer .main .links .secondary {
    display: flex;
    flex-direction: column;
    color: var(--white);
    gap: 0.8rem;
}

@media (hover: hover) and (pointer: fine) {
    footer a:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 768px) {
    footer .copyright p {
        font-size: 0.8rem;
    }

    footer .main .information h3 {
        font-size: 1.3rem;
    }

    footer .main .information p {
        font-size: 1rem;
    }

    footer .main .links {
        gap: 3rem;
    }
}

@media screen and (max-width: 480px) {
    footer .main {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    footer .main .information {
        width: 90%;
        margin: auto;
    }

    footer .main .information h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    footer .main .information p {
        font-size: 1.1rem;
        text-align: center;
    }

    footer .main .links {
        gap: 4rem;
        margin: auto;
        text-align: center;
    }
}
