.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question.loading {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question.finished {
    border-top: 2px solid var(--primary);
}

.question.finished:first-child {
    border-top: none;
}

.question .question-heading {
    font-size: 1.5rem;
    font-weight: var(--w-b);
    margin-bottom: 1rem;
    color: var(--white);
    margin: 1rem 0 0 2rem;
}

.question .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.question .content .question-content .both {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question .content .question-content .both .question-image,
.question .content .question-content .question-image {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.question .content .question-content .question-image h3 {
    font-size: 1.5rem;
    font-weight: var(--w-b);
    color: var(--white);
}

.question .content .question-content .both .both-question-text,
.question .content .question-content .question-text {
    font-size: 1.5rem;
    font-weight: var(--w-b);
    word-wrap: break-word;
    color: var(--white);
}

.question .content .options ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    list-style: none;
}

.question .content .options ul li {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.question .content .options ul .correct::before {
    content: "✅";
    font-size: 1.2rem;
}

.question .content .options ul .wrong::before {
    content: "❌";
    font-size: 1.2rem;
}

.question .content .options ul li label {
    font-size: 1.3rem;
    font-weight: var(--w-sb);
    color: var(--white);
}

@media screen and (max-width: 768px) {
    .question .content .question-content .question-image h3 {
        font-size: 1.2rem;
    }

    .question .content .question-content .question-image img {
        max-width: 100%;
    }

    .question .content .question-content .question-text {
        font-size: 1.1rem;
    }

    .question .content .options ul {
        gap: 1rem;
    }

    .question .content .options ul li {
        gap: 1rem;
    }

    .question .content .options ul li label {
        font-size: 1.1rem;
    }

    .question .content .options ul li label img {
        max-width: 100%;
    }

    .question .content .options ul .correct::before,
    .question .content .options ul .wrong::before {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .question .content .question-content .question-image h3 {
        font-size: 1rem;
    }

    .question .content .question-content .question-text {
        font-size: 0.9rem;
    }

    .question .content .options ul {
        gap: 0.8rem;
    }

    .question .content .options ul li {
        gap: 0.8rem;
    }

    .question .content .options ul li label {
        font-size: 0.9rem;
    }

    .question .content .options ul .correct::before,
    .question .content .options ul .wrong::before {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 340px) {
    .question .content .question-content .question-image h3 {
        font-size: 0.8rem;
    }

    .question .content .question-content .question-text {
        font-size: 0.8rem;
    }

    .question .content .options ul {
        gap: 0.5rem;
    }

    .question .content .options ul li {
        gap: 0.5rem;
    }

    .question .content .options ul li label {
        font-size: 0.8rem;
    }

    .question .content .options ul .correct::before,
    .question .content .options ul .wrong::before {
        font-size: 0.7rem;
    }
}
